<?xml version="1.0"?>
<!--
/**
 *                       ######
 *                       ######
 * ############    ####( ######  #####. ######  ############   ############
 * #############  #####( ######  #####. ######  #############  #############
 *        ######  #####( ######  #####. ######  #####  ######  #####  ######
 * ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
 * ###### ######  #####( ######  #####. ######  #####          #####  ######
 * #############  #############  #############  #############  #####  ######
 *  ############   ############  #############   ############  #####  ######
 *                                      ######
 *                               #############
 *                               ############
 *
 * Adyen Subscription module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 H&O E-commerce specialists B.V. (http://www.h-o.nl/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>, H&O E-commerce specialists B.V. <info@h-o.nl>
 */
-->
<config>
    <modules>
        <Adyen_Subscription>
            <version>1.3.2</version>
        </Adyen_Subscription>
    </modules>
    <global>
        <blocks>
            <adyen_subscription>
                <class>Adyen_Subscription_Block</class>
            </adyen_subscription>
            <adminhtml>
                <rewrite>
                    <sales_order_create_header>Adyen_Subscription_Block_Adminhtml_Sales_Order_Create_Header</sales_order_create_header>
                    <sales_order_create>Adyen_Subscription_Block_Adminhtml_Sales_Order_Create</sales_order_create>
                    <sales_order_create_form>Adyen_Subscription_Block_Adminhtml_Sales_Order_Create_Form</sales_order_create_form>
                    <sales_order_totals>Adyen_Subscription_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Adyen_Subscription_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Adyen_Subscription_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <adminhtml_customer_edit_tab_recurring_profile>Adyen_Subscription_Block_Sales_Adminhtml_Customer_Edit_Tab_Recurring_Profile</adminhtml_customer_edit_tab_recurring_profile>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <adyen_subscription>
                <class>Adyen_Subscription_Helper</class>
            </adyen_subscription>
        </helpers>
        <models>
            <adyen_subscription>
                <class>Adyen_Subscription_Model</class>
                <resourceModel>adyen_subscription_resource</resourceModel>
            </adyen_subscription>
            <adyen_subscription_resource>
                <class>Adyen_Subscription_Model_Resource</class>
                <entities>
                    <subscription>
                        <table>adyen_subscription</table>
                    </subscription>
                    <subscription_address>
                        <table>adyen_subscription_address</table>
                    </subscription_address>
                    <subscription_item>
                        <table>adyen_subscription_item</table>
                    </subscription_item>
                    <subscription_quote>
                        <table>adyen_subscription_quote</table>
                    </subscription_quote>
                    <subscription_order>
                        <table>adyen_subscription_order</table>
                    </subscription_order>
                    <product_subscription>
                        <table>adyen_subscription_product_subscription</table>
                    </product_subscription>
                    <product_subscription_label>
                        <table>adyen_subscription_product_subscription_label</table>
                    </product_subscription_label>
                    <subscription_history>
                        <table>adyen_subscription_history</table>
                    </subscription_history>
                </entities>
            </adyen_subscription_resource>
            <enterprise_admingws>
                <rewrite>
                    <collections>Adyen_Subscription_Model_AdminGws_Collections</collections>
                </rewrite>
            </enterprise_admingws>
        </models>
        <catalog>
            <product>
                <type>
                    <simple translate="label" module="catalog">
                        <price_model>adyen_subscription/catalog_product_price_simple</price_model>
                        <model>adyen_subscription/catalog_product_type_simple</model>
                    </simple>
                    <bundle translate="label" module="catalog">
                        <price_model>adyen_subscription/catalog_product_price_bundle</price_model>
                        <model>adyen_subscription/catalog_product_type_bundle</model>
                    </bundle>
                    <configurable>
                        <price_model>adyen_subscription/catalog_product_price_configurable</price_model>
                        <model>adyen_subscription/catalog_product_type_configurable</model>
                    </configurable>
                    <virtual translate="label" module="catalog">
                        <price_model>adyen_subscription/catalog_product_price_virtual</price_model>
                        <model>adyen_subscription/catalog_product_type_virtual</model>
                    </virtual>
                </type>
            </product>
        </catalog>
        <resources>
            <adyen_subscription_setup>
                <setup>
                    <module>Adyen_Subscription</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </adyen_subscription_setup>
        </resources>
        <events>
            <payment_method_is_active>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/product_observer</class>
                        <method>isPaymentMethodActive</method>
                    </adyen_subscription>
                </observers>
            </payment_method_is_active>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <adyen_subscription_add_subscription_options_to_order>
                        <class>adyen_subscription/observer</class>
                        <method>addSubscriptionProductSubscriptionToOrder</method>
                    </adyen_subscription_add_subscription_options_to_order>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_product_collection_load_after>
                <observers>
                    <adyen_subscription_load_attributes_after_collection_load>
                        <class>adyen_subscription/product_observer</class>
                        <method>loadAttributesAfterCollectionLoad</method>
                    </adyen_subscription_load_attributes_after_collection_load>
                </observers>
            </catalog_product_collection_load_after>
            <sales_order_place_before>
                <observers>
                    <adyen_subscription_calculate_item_qty>
                        <class>adyen_subscription/observer</class>
                        <method>calculateItemQty</method>
                    </adyen_subscription_calculate_item_qty>
                </observers>
            </sales_order_place_before>
            <create_order_session_quote_initialized>
                <observers>
                    <adyen_subscription_calculate_item_qty_reorder>
                        <class>adyen_subscription/observer</class>
                        <method>calculateItemQtyReorder</method>
                    </adyen_subscription_calculate_item_qty_reorder>
                </observers>
            </create_order_session_quote_initialized>
            <adyen_payment_process_notifications_after>
                <observers>
                    <adyen_subscription_update_billing_agreement_in_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>updateBillingAgreementInSubscription</method>
                    </adyen_subscription_update_billing_agreement_in_subscription>
                </observers>
            </adyen_payment_process_notifications_after>
            <adyen_payment_update_billing_agreement_status>
                <observers>
                    <adyen_subscription_update_billing_agreement_status>
                        <class>adyen_subscription/observer</class>
                        <method>updateBillingAgreementStatus</method>
                    </adyen_subscription_update_billing_agreement_status>
                </observers>
            </adyen_payment_update_billing_agreement_status>
            <model_delete_before>
                <observers>
                    <adyen_subscription_delete_billing_agreement>
                        <class>adyen_subscription/observer</class>
                        <method>deleteBillingAgreement</method>
                    </adyen_subscription_delete_billing_agreement>
                </observers>
            </model_delete_before>
            <catalog_product_delete_before>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>preventProductDeleteForSubscription</method>
                    </adyen_subscription>
                </observers>
            </catalog_product_delete_before>
            <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>addColumnToResource</method>
                    </adyen_subscription>
                </observers>
            </sales_order_resource_init_virtual_grid_columns>
            <customer_address_save_after>
                <observers>
                    <adyen_subscription_update_address>
                        <class>adyen_subscription/observer</class>
                        <method>updateCustomerAddressAtQuotes</method>
                    </adyen_subscription_update_address>
                </observers>
            </customer_address_save_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <adyen_subscription_type />
                    </product_attributes>
                </item>
                <totals>
                    <subscription_fee>
                        <class>adyen_subscription/sales_quote_address_total_subscriptionFee</class>
                        <after>grand_total,payment_installment_fee</after>
                    </subscription_fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <subscription_fee>
                        <class>adyen_subscription/total_subscriptionFee_invoice</class>
                        <after>grand_total,payment_installment_fee</after>
                    </subscription_fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <subscription_fee>
                        <class>adyen_subscription/total_subscriptionFee_creditmemo</class>
                        <after>grand_total,payment_installment_fee</after>
                    </subscription_fee>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <subscription_id>
                    <to_order>*</to_order>
                </subscription_id>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <subscription_fee_amount><to_order>*</to_order></subscription_fee_amount>
                <base_subscription_amount><to_order>*</to_order></base_subscription_amount>
                <save_in_address_book><to_order_address>*</to_order_address></save_in_address_book>
                <same_as_billing><to_order_address>*</to_order_address></same_as_billing>
            </sales_convert_quote_address>
            <sales_convert_order>
                <subscription_fee_amount><to_invoice>*</to_invoice></subscription_fee_amount>
                <base_subscription_amount><to_invoice>*</to_invoice></base_subscription_amount>
                <subscription_fee_amount><to_cm>*</to_cm></subscription_fee_amount>
                <base_subscription_amount><to_cm>*</to_cm></base_subscription_amount>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <adyen_subscription>
                <use>standard</use>
                <args>
                    <module>Adyen_Subscription</module>
                    <frontName>adyen_subscription</frontName>
                </args>
            </adyen_subscription>
        </routers>
        <translate>
            <modules>
                <Adyen_Payment>
                    <files>
                        <default>Adyen_Subscription.csv</default>
                    </files>
                </Adyen_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <adyen_subscription module="adyen_subscription">
                    <file>adyen_subscription.xml</file>
                </adyen_subscription>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/product_observer</class>
                        <method>addProductTypeSubscriptionHandle</method>
                    </adyen_subscription>
                </observers>
            </controller_action_layout_load_before>
            <checkout_allow_guest>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>isAllowedGuestCheckout</method>
                    </adyen_subscription>
                </observers>
            </checkout_allow_guest>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adyen_subscription before="Mage_Adminhtml">Adyen_Subscription_Adminhtml</adyen_subscription>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <adyen_subscription module="adyen_subscription">
                    <file>adyen_subscription.xml</file>
                </adyen_subscription>
            </updates>
        </layout>
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <zadyen_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>addFiltersToSalesRuleCombine</method>
                    </zadyen_subscription>
                </observers>
            </salesrule_rule_condition_combine>
            <catalog_product_save_before>
                <observers>
                    <adyen_subscription_save_subscription_product_data>
                        <type>singleton</type>
                        <class>adyen_subscription/product_observer</class>
                        <method>saveSubscriptionProductData</method>
                    </adyen_subscription_save_subscription_product_data>
                </observers>
            </catalog_product_save_before>
            <controller_action_layout_load_before>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>addAdminhtmlSalesOrderCreateHandles</method>
                    </adyen_subscription>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>

    <default>
        <adyen_subscription>
            <subscription>
                <allowed_payment_methods>adyen_cc</allowed_payment_methods>
                <debug>1</debug>
                <show_upcoming_orders>1</show_upcoming_orders>
                <number_of_upcoming_orders>5</number_of_upcoming_orders>
                <number_retry_failed_payment>3</number_retry_failed_payment>
                <time_between_retry_failed_payment>24</time_between_retry_failed_payment>
                <cron_subscription_setting>*/5 * * * *</cron_subscription_setting>
                <cron_quote_setting>*/20 * * * *</cron_quote_setting>
                <cron_order_setting>*/30 * * * *</cron_order_setting>
            </subscription>
            <order>
                <reorder_subscription>0</reorder_subscription>
            </order>
            <allowed_payment_methods>
                <creditcards>
                    <code>adyen_cc</code>
                    <label>Credit Card</label>
                </creditcards>
                <sepa>
                    <code>adyen_sepa</code>
                    <label>SEPA Direct Debit</label>
                </sepa>
                <paypal>
                    <code>adyen_hpp_paypal</code>
                    <label>PayPal</label>
                </paypal>
                <ideal>
                    <code>adyen_ideal</code>
                    <label>IDeal</label>
                </ideal>
                <directebanking>
                    <code>adyen_hpp_directEbanking</code>
                    <label>directEbanking (Sofort)</label>
                </directebanking>
            </allowed_payment_methods>
        </adyen_subscription>
        <sales>
            <totals_sort>
                <subscription_fee>20</subscription_fee>
            </totals_sort>
        </sales>
    </default>

    <crontab>
        <jobs>
            <adyen_subscription_create_subscriptions>
                <schedule><config_path>adyen_subscription/subscription/cron_subscription_setting</config_path></schedule>
                <run><model>adyen_subscription/cron::createSubscriptions</model></run>
            </adyen_subscription_create_subscriptions>
            <adyen_subscription_create_quotes>
                <schedule><config_path>adyen_subscription/subscription/cron_quote_setting</config_path></schedule>
                <run><model>adyen_subscription/cron::createQuotes</model></run>
            </adyen_subscription_create_quotes>
            <adyen_subscription_create_orders>
                <schedule><config_path>adyen_subscription/subscription/cron_order_setting</config_path></schedule>
                <run><model>adyen_subscription/cron::createOrders</model></run>
            </adyen_subscription_create_orders>
            <adyen_subscription_create_update_prices>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>adyen_subscription/cron::updatePrices</model></run>
            </adyen_subscription_create_update_prices>
        </jobs>
    </crontab>

    <default>
        <adyen_subscription>
            <general>
                <show_term_label>1</show_term_label>
                <price_includes_tax>1</price_includes_tax>
            </general>
            <advanced>
                <schedule_quotes_term>P2W</schedule_quotes_term>
            </advanced>
            <subscription>
                <retry_on_error>0</retry_on_error>
                <create_order_regard_time>1</create_order_regard_time>
            </subscription>
        </adyen_subscription>
    </default>
</config>
